<div class="records-header">
  <div class="left-header">
    <div class="header-title">
      加湿器
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">掃除記録を削除する</a>
    </div>
  </div>
</div>

  <div class="records">
    <div class="main-record">
      <div class="upper-record">
        <div class="record-user">
          ikumi
        </div>
        <div class="record-date">
          2022/11/29(Tue) 20:34
        </div>
      </div>
      <div class="lower-record">
        <div class="record-content">
          掃除したよ
        </div>
      </div>
    </div>

    <div class="main-record">
      <div class="upper-record">
        <div class="record-user">
          kohei
        </div>
        <div class="record-date">
          2022/11/29(Tue) 20:38
        </div>
      </div>
      <div class="lower-record">
        <div class="record-content">
          ありがとう
        </div>
      </div>
    </div>
  </div>


<div class="form">
  <div class="form-input">
    <input class="form-record" placeholder= "type a record">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>