<div class="record">
  <div class="upper-record">
    <div class="record-user">
      <%= record.user.name %>
    </div>
    <div class="record-date">
      <%= record.created_at %>
    </div>
  </div>
  <div class="lower-record">
    <div class="record-content">
      <%= record.content %>
    </div>
  </div>
</div>
