<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-housework">
    <%= link_to "掃除記録を作成する", new_housework_path %>
  </div>
</div>

<div class="houseworks">
  <% current_user.houseworks.each do |housework| %>
    <div class="housework">
      <div class="housework-name">
        <a href="#"><%= housework.name %></a>
      </div>
    </div>
  <% end %>
</div>