<div class="side-bar-header">
  <div class="header-name">
    <a href="#">ikumi</a>
  </div>
  <div class="create-housework">
    <a href="#">家事を作成する</a>
  </div>
</div>

<div class="houseworks">
  <div class="housework">
    <div class="housework-name">
      <a href="#">加湿器</a>
    </div>
  </div>
</div>