.wrapper {
  display: flex;
}

/* サイドバー */

.side-bar {
  background-color: #f7bd8f;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-housework a{
  font-size: 16px;
  /*  border: 2px solid lightblue;  */
  padding: 14px;
  color: #FAFAFA;
  text-decoration: none;
}

.houseworks {
  background-color: #fddea5;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.housework {
  padding: 20px 0 40px;
}

.housework-name a{
  text-decoration: none;
  color: #33271e
  ;
}


/* 記録画面 */

.record {
  background-color: #fdeff2;
  width: calc(100vw - 300px);
}

.records-header {
  height: 100px;
  padding: 0 40px;
}

.records {
  background-color: #fef4f4;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.form {
  background-color: #e9dfe5;
  height: 90px;
  padding: 20px 40px;
}